version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: projeto_avaliacao_app
    container_name: avaliacao_app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - DB_HOST=db
    depends_on:
      - db
    networks:
      - laravel_network
      - public_proxy

  db:
    image: mysql:9.1
    container_name: avaliacao_db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge
  public_proxy:
    external: true

volumes:
  db_data:
