*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
    box-sizing: border-box;
    align-items: center;
}


header{
    border: 0.3vw solid blue;
    width: 100vw;
    padding: 2vw;
    color: aliceblue;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center; 
    gap:22vw;
}

header h1{
    font-size: 1.5vw;
}


.iconeVoltarGrupo{
    color: white;
    width: 10vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
}

.iconeVoltarGrupo p{
    font-size: 25px;
    font-weight: 500;
}

.iconeVoltarGrupo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.oitemConteudo{
    width: 60vw;
    display: flex;
    padding: 1vw;
    justify-content: start;
}

.oitem{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.4vw solid #3700DB;
    background: #FFF;
    margin-bottom: 4vw;
    margin: 0px;

}

.informacoesDoItem{
    width: 70%;
    padding: 1.2vw;
}

.informacoesDoItem p{
    margin-top: 0.5vw;
    font-size: 1.2vw;
    margin-left: 1vw;
    font-weight: 500;
}

.informacoesDoItem h2{
    margin-top: 1.5vw;
    
}


.opcoesAvaliacaocheck{
    display: flex;
    gap: 0.5vw;
    align-items: center;
    font-weight: 600;
    width: 60vw;
    padding: 2vw;
    font-size: 1.5vw;
    border-radius: 10px;
    border: 0.3vw solid #3700DB;
    background: #FFF;
}

.opcoesAvaliacaocheck label{
    margin-right: 3vw;
}

.opcoesAvaliacaocheckComTitulo h1{
    margin-bottom: 1.5vw;
}


.paginasQuadrado{
    border-radius: 10px;
    border: 0.3vw solid #3700DB;
    background: #FFF;
}

.paginasQuadrado{
    width: 60vw;
    font-size: 1.5vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap:2vw;
}

.umaPagina{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .6vw;
}

.umaPagina label{
    display: inline;
    color: #3700DB;
}


.umaPagina label p{
    display: inline;
    color: black;
}

.tituloGerall{
    margin-bottom: 1.2vw;
}

#editor, #editorComportamento {
    width: 60vw;
    height: 8vw;
    font-size: 1.2vw;
}

.adicionarImagem{
    padding: 2vw;
    border: 0.3vw solid #3700DB;
    border-radius: 0.3vw;
    width: 60vw;
    margin-bottom: 2vw;
}


.adicionarImagem .adicionar_imagem{
    color: #FFF;
    font-size: 1.5vw;
    padding:1vw;
    border: 0px;
    font-weight: 600;
    border-radius: 5px;
    background: #BB8AE1;
}

.adicionarImagem .adicionar_imagem:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.botaoFinal{
    width: 15vw;
    color: #FFF;
    padding: 1vw;
    border: 0px;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5vw;
    line-height: normal;
    border-radius: 1vw;
    background: #001AFF;
}

.botaoFinal:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3vw;
}

.removerImagemAdicionada{
    background-color: red;
    font-size: 1.3vw;
    padding: 0.5vw;
    border-radius: 0.3vw;
    color: white;
    font-weight: 600;
    border: 0px;
    margin-top: 3vw;
}


#ocultarExibir{
    flex-direction: column;
    gap:5vw;
}

.anterior_quadrado{
    margin-top: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.anterior_quadrado img{
    width: 40vw;
    border-radius: 10px;
    margin-bottom: 0.3vw;
}

.image_remove{
    margin-bottom: 5vw;
    font-size: 1.3vw;
    margin-left: 0.5vw;
}

.estiloInput {
    width: 60vw;
    padding: 1vw;
    font-size: 1.2vw;
    border-radius: 10px;
    border: 0.3vw solid #3700DB;
    background: #FFF;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    color: black;
}